@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans");

.explaintext1 {
  transform: scale(0.7);
  justify-content: center;
  margin-left: -150px;
}

/* .bridge {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 80px;
}

.bridge-container {
  height: 250px;
  display: flex;

  flex-direction: column;
  justify-content: left;
  align-items: left;
  padding-left: 5%;
}

.bridge-text {
  justify-content: left;
  align-items: left;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-style: italic;
  font-weight: 800;
  font-size: 35px;
  line-height: 10px;

  color: #ffffff;
}

.explain {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 10px 10px 0;
}

.explaintext {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 38px;
  text-align: center;
  align-self: center;
  color: #000000;
  width: 30%;
}

.how > p {
  justify-content: left;
  align-items: left;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 800;
  font-size: 35px;
  line-height: 10px;

  color: #ffffff;
}

 */
