.footer {
  transform: scale(1);
  align-items: center;
  justify-content: center;
  margin-top: 200px;
  margin-left: 150px;
}

.build {
  align-items: center;
  margin-top: 200px;
  justify-content: center;
}
